{
    "family": "visually-me-app",
    "runtimePlatform": {"operatingSystemFamily": "LINUX"},
    "executionRoleArn": "arn:aws:iam::ACCOUNT_ID_PLACEHOLDER:role/ecsTaskExecutionRole",
    "networkMode": "awsvpc",
    "containerDefinitions": [
        {
            "name": "visually-me-app",
            "image": "",
            "cpu": 256,
            "memory": 512,
            "portMappings": [
                {
                    "containerPort": 3000,
                    "hostPort": 80,
                    "protocol": "tcp"
                }
            ],
            "essential": true
        }
    ],
    "requiresCompatibilities": ["FARGATE"],
    "cpu": "256",
    "memory": "512"
}